<h2>Featured Work</h2>
<div class="container">
    <div class="card">
        <img src="https://media.istockphoto.com/id/1326873366/vector/african-people-dance-in-ethnic-abstract-tribal-pattern-set-folk-traditional-ornament.webp?s=1024x1024&w=is&k=20&c=WHM64nqR2BjzAnRkgYy-J-FbO_CH1WArXsA1srB6s_A=" >
    </div>
    <div class="card2">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam veritatis voluptates nulla velit obcaecati consequuntur ipsam. Accusamus consectetur sed fugit sint sunt id et, odio recusandae dolorem ipsum dignissimos dolor!</p>
    </div>
    
</div>
<div class="container1">
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2022/11/27/13/27/couple-7619797_960_720.jpg" >
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae reprehenderit vel magnam perspiciatis esse, consequatur maxime dignissimos laborum rem vero assumenda consequuntur temporibus laboriosam pariatur quidem mollitia in officia natus.</p>
    <div class="card1">
        <img src="https://cdn.pixabay.com/photo/2022/09/07/12/22/autumn-7438675_1280.jpg" >
    </div>
</div>
