<div class="container">
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2024/11/05/13/47/landscape-9175952_1280.png" >
    </div>
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2024/06/10/15/05/flower-8820894_1280.png" >
    </div>
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_1280.jpg" >
    </div>
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2024/06/06/13/55/woman-8812775_1280.png" >
    </div>
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2024/11/05/13/47/landscape-9175952_1280.png" >
    </div>
</div>
<div class="container1">
    <h2>Marie Carlson</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur obcaecati beatae, sint omnis provident magnam consectetur eveniet, nisi odio aperiam vel cum commodi. Dolor facilis provident natus similique consequatur maiores.</p>
</div>
